paths:
  /api/ambient/v1/projects:
    get:
      summary: Returns a list of projects
      security:
        - Bearer: []
      responses:
        '200':
          description: A JSON array of project objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectList'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '403':
          description: Unauthorized to perform operation
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/size'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/orderBy'
        - $ref: '#/components/parameters/fields'
    post:
      summary: Create a new project
      security:
        - Bearer: []
      requestBody:
        description: Project data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Validation errors occurred
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '403':
          description: Unauthorized to perform operation
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '409':
          description: Project already exists
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '500':
          description: An unexpected error occurred creating the project
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
  /api/ambient/v1/projects/{id}:
    get:
      summary: Get a project by id
      security:
        - Bearer: []
      responses:
        '200':
          description: Project found by id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '403':
          description: Unauthorized to perform operation
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '404':
          description: No project with specified id exists
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
    patch:
      summary: Update a project
      security:
        - Bearer: []
      requestBody:
        description: Updated project data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectPatchRequest'
      responses:
        '200':
          description: Project updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '400':
          description: Validation errors occurred
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '403':
          description: Unauthorized to perform operation
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '404':
          description: No project with specified id exists
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '409':
          description: Project already exists
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '500':
          description: Unexpected error updating project
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
    delete:
      summary: Delete a project by id
      security:
        - Bearer: []
      responses:
        '204':
          description: Project deleted successfully
        '401':
          description: Auth token is invalid
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '403':
          description: Unauthorized to perform operation
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '404':
          description: No project with specified id exists
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
        '500':
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: 'openapi.yaml#/components/schemas/Error'
    parameters:
      - $ref: '#/components/parameters/id'
components:
  schemas:
    Project:
      allOf:
        - $ref: 'openapi.yaml#/components/schemas/ObjectReference'
        - type: object
          required:
            - name
          properties:
            name:
              type: string
            display_name:
              type: string
            description:
              type: string
            labels:
              type: string
            annotations:
              type: string
            status:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
    ProjectList:
      allOf:
        - $ref: 'openapi.yaml#/components/schemas/List'
        - type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/Project'
    ProjectPatchRequest:
      type: object
      properties:
        name:
          type: string
        display_name:
          type: string
        description:
          type: string
        labels:
          type: string
        annotations:
          type: string
        status:
          type: string
  parameters:
      id:
        name: id
        in: path
        description: The id of record
        required: true
        schema:
          type: string
      page:
        name: page
        in: query
        description: Page number of record list when record list exceeds specified page size
        schema:
          type: integer
          default: 1
          minimum: 1
        required: false
      size:
        name: size
        in: query
        description: Maximum number of records to return
        schema:
          type: integer
          default: 100
          minimum: 0
        required: false
      search:
        name: search
        in: query
        required: false
        description: Specifies the search criteria
        schema:
          type: string
      orderBy:
        name: orderBy
        in: query
        required: false
        description: Specifies the order by criteria
        schema:
          type: string
      fields:
        name: fields
        in: query
        required: false
        description: Supplies a comma-separated list of fields to be returned
        schema:
          type: string
